body {
	background: #bdffaf;
}

#header {
	text-align: center;
}

#main {
	margin-top: 2%;
	text-align: center;
}

#mainLeft {
	width: 35%;
	float: left;
	text-align: center;
	border: 1px solid #808080;
}

#mainRight {
	
}

#mainDown {
	margin-top: 5%;
	text-align: center;
}

#mainDownLeft {
	width: 40%;
	float: left;
	text-align: center;
	/* vertical line */
	border-right: 1px solid #808080;
}

#mainDownRight {
	float: right;
	/* doesn't work with 60 ??? */
	width: 59%;
	text-align: center;
}

.makeAppointmentButton {
	margin-right: 25px;
}

.appointmentButton {
	margin-left: 25px;
}

#saveButton {
	margin-right: 20%;
}

#footer {
	
}

/* required polje when empty  */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header
	.ui-state-error {
	border: 2px solid red;
}

/* p:inputText text center */
.ui-inputfield.ui-inputtext {
	text-align: center;
}

/* p:calendar text center */
.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	text-align: center;
}

/* table border and background color */
table tbody .ui-widget-content {
	background: none repeat scroll 0 0 #bdffaf;
	border: 0 solid #bdffaf;
	color: #333333;
}

li table tbody .ui-widget-content {
	background: none repeat scroll 0 0 #9dff88;
	border: 0 solid #9dff88;
	color: #333333;
}