body {
	background: #bdffaf;
}

#header {
	text-align: center;
}

#main {
	margin-top: 2%;
}

#mainLeft {
	width: 35%;
	float: left;
	text-align: center;
	border: 1px solid #808080;
}

#mainRight {
	float: right;
	/* doesn't work with 60 ??? */
	width: 60%;
	text-align: center;
}

.inputTextSearch {
	width: 350px;
}

.panelGridSearch {
	margin-left: 20%;
	margin-top: 10%;
}

#footer {
	
}

.mainHeader {
	float: right;
}

/* required polje when empty  */
.ui-state-error, .ui-widget-content  .ui-state-error, .ui-widget-header 
	.ui-state-error {
	border: 2px solid red;
}

/* p:inputText text center */
.ui-inputfield.ui-inputtext {
	text-align: center;
}

/* p:calendar text center */
.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	text-align: center;
}

/* table border and background color */
table tbody .ui-widget-content {
	background: none repeat scroll 0 0 #bdffaf;
	border: 0 solid #bdffaf;
	color: #333333;
}

#savePacijent {
	font-size: 20px;
}