body {
	background: #bdffaf;
}

#header {
	text-align: center;
}

#main {
	margin-top: 2%;
}

#footer {
	
}

#boxHeader {
	width: 90%;
	margin-left: 5%;
}

.logOut {
	float: right;
}

.updateProfileButton {
	float: left;
}

.datailsButton {
	margin-right: 10px !important;
	background-color: #7dffbe !important;
}

.deleteButton {
	margin-left: 10px !important;
	background-color: #ff8a8a !important;
	margin-bottom: 10px !important;
}

.saveButton {
	background-color: #7dffbe !important;
}

#boxSchedule {
	text-align: center;
	margin-top: 13%;
	width: 80%;
}

.fc-event.eventPacijentPregled {
	background: #485aff;
}

.fc-event.eventPacijentVezbe {
	background: #7aff77;
}

.fc-event.eventFizijatar {
	background: #ff5555;
}

.fc-event.eventFizioterapeut {
	background: #ff990f;
}

#boxColor {
	margin-top: 2%;
	float: left;
	width: 80%;
	margin-left: 15%;
}

#boxPregled {
	width: 40px;
	height: 15px;
	background: #485aff;
	float: right;
	margin-right: 75%;
}

#boxVezbe {
	width: 40px;
	height: 15px;
	background: #7aff77;
	float: right;
	margin-right: 75%;
}

#boxFizijatar {
	width: 40px;
	height: 15px;
	background: #ff5555;
	float: right;
	margin-right: 75%;
}

#boxFizioterapeut {
	width: 40px;
	height: 15px;
	background: #ff990f;
	float: right;
	margin-right: 75%;
}

.labelColor {
	text-align: left !important;
}

/* required polje when empty  */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header
	.ui-state-error {
	border: 2px solid red;
}

/* p:inputText text center */
.ui-inputfield.ui-inputtext {
	text-align: center;
}

/* p:calendar text center */
.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	text-align: center;
}

}
#savePacijent {
	font-size: 20px;
}